[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Java implementation of the Ethereum yellowpaper. For JSON-RPC and other client features check Ethereum Harmony
[access "refs/*"]
	owner = group user/Yaojin Sun (sunyaojin)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Yaojin Sun (sunyaojin)
	label-Verified = -1..+1 group user/Yaojin Sun (sunyaojin)
	push = group user/Yaojin Sun (sunyaojin)
	read = group user/Yaojin Sun (sunyaojin)
	rebase = group user/Yaojin Sun (sunyaojin)
	removeReviewer = group user/Yaojin Sun (sunyaojin)
	submit = group user/Yaojin Sun (sunyaojin)
[access "refs/heads/*"]
	create = group user/Yaojin Sun (sunyaojin)
	push = +force group user/Yaojin Sun (sunyaojin)
	pushMerge = group user/Yaojin Sun (sunyaojin)
	read = group user/Yaojin Sun (sunyaojin)
[access "refs/tags/*"]
	push = group user/Yaojin Sun (sunyaojin)
	push = +force group user/Yaojin Sun (sunyaojin)
